.event-list
  list-style: none
  padding: 0
  margin: 0

.sn-event
  padding: 10px
  outline: none

.sn-body
  padding: 12px 15px 0
  background: $color1
  border-radius: 30px
  min-height: 300px
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px

.sn-name
  margin-top: 16px
  margin-bottom: 0
  padding: 10px 0
  text-align: center
  background: $color8
  border-radius: 10px 10px 0 0

.sn-line
  width: 100%
  padding: 10px 0
  +clearfix

.sn-line:nth-child(even)
  background: lighten($color1, 5%)


.sn-cat
  float: left
  display: inline-block
  width: 38%
  padding-left: 2%
  color: $color9

.sn-data-item
  float: right
  text-align: left
  display: inline-block
  width: 59%
  i
    margin: 0 5px
    color: $color2

.sn-guest
  margin-right: 5px
  margin-bottom: 5px
  &:nth-child(even)
    color: $color2

.address-line
  display: block

.sn-additional
  text-align: justify

.sn-hidden-cont
  position: relative

.sn-selected
  display: block !important

.sn-hidden
  display: none
  +position(absolute, 0 -15px null -15px)
  background: $color1
  z-index: 100
  padding: 0 25px 15px
  border-radius: 0 0 30px 30px
  // border-left: 4px solid $color7
  // border-right: 4px solid $color7
  // border-bottom: 8px solid $color7

.sn-additional-cat
  display: inline-block
  color: $color9
  padding: 10px 5px
