.header
  margin: 75px 0

.header-loggedin
  +position(fixed, 0 0 null 0)
  padding: 10px
  background: $color1
  border-bottom: 4px solid $color7
  z-index: 999

.site-title
  min-width: 360px
  margin: 0 0 0 10%
  color: $color9
