.side-panel
  width: 100px
  +position(fixed, 20vh null null 0)
  color: $color5
  border-radius: 0 5px 5px 0
  ul
    padding: 50px 15px

.nav-item
  padding: 10px 0

.side-panel-btn
  border-radius: 5px !important
  width: 100%
  background: $color4
  border: none
  height: 50px
  outline: none
  &:hover
    background: $color3

.active-side-btn
  background: $color3
  box-shadow: 0 0 5px $color7
