<form id="add-event-form" ng-submit="form.submit()" class="col-sm-6">
  <fieldset class="form-group">
    <label for="event-name">Event Name</label>
    <input type="text" class="form-control" id="event-name" placeholder="Event name" ng-value="form.event.name" ng-model="form.event.name">
  </fieldset>

  <fieldset class="form-group">
    <label for="category">Category</label>
    <input list="selectCategory" id="category" class="form-control" ng-value="form.event.category" ng-model="form.event.category" placeholder="Select category">
    <datalist id="selectCategory">
      <option value="Party"></option>
      <option value="Meeting"></option>
      <option value="Important"></option>
    </datalist>
  </fieldset>

  <fieldset class="form-group">
    <label for="event-host">Event host</label>
    <input class="form-control" type="text" name="eventHost" placeholder="Event host" id="event-host" ng-model="form.event.host" ng-value="form.event.host">
  </fieldset>

  <fieldset class="form-group">
    <label for="optional-info">Additional information</label>
    <textarea class="form-control" id="optional-info" rows="2" ng-model="form.event.additionalInfo" ng-value="event.additionalInfo" placeholder="Additional informations"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
