<div class="forms-cont col-xs-12">

  <div class="form-belt">
    <div class="form-switch-btns">
        <button ui-sref="login" type="button" ng-class="{ 'active-form-btn': userForm.$state=='login' }">Log in</button>
        <button ui-sref="register" type="button" ng-class="{ 'active-form-btn': userForm.$state=='register' }">Register</button>
    </div>
    <form name="siteForm" class="text-left form" ng-submit="userForm.submit(siteForm.$valid)" novalidate>

      <div class="form-group" ng-if="userForm.$state == 'register'">
        <label class="sr-only" for="user-name">Your name</label>
        <input type="text"
                class="form-control"
                id="user-name"
                placeholder="Your Name"
                ng-model="userForm.userDetails.name"
                ng-value="userForm.userDetails.name"
                required>
      </div>

      <div class="form-group">
        <label class="sr-only" for="user-email">Email address</label>
        <input type="email"
                class="form-control"
                id="user-email"
                placeholder="Email"
                ng-model="userForm.userDetails.email"
                ng-value="userForm.userDetails.email"
                required>
      </div>

      <div class="form-group">
        <label class="sr-only" for="user-password">Password</label>
        <input type="password"
                class="form-control"
                id="user-password"
                placeholder="Password"
                ng-model="userForm.userDetails.password"
                ng-value="userForm.userDetails.password"
                ng-minlength="8"
                required>
      </div>

      <div class="form-group" ng-if="userForm.$state == 'register'">
        <label class="sr-only" for="user-confirm-password">Confirm password</label>
        <input type="password"
                class="form-control"
                id="user-confirm-password"
                placeholder="Confirm password"
                ng-model="userForm.userDetails.confirmPassword"
                ng-value="userForm.userDetails.confirmPassword"
                ng-minlength="8"
                required>
      </div>

      <div class="checkbox" ng-if="userForm.$state == 'login'">
        <label>
          <input type="checkbox" ng-model="userForm.userDetails.rememberMe"> Remember me
        </label>
    </div>

    <button type="submit" class="btn btn-default" ng-if="userForm.$state == 'login'">Sign in</button>
    <button type="submit" class="btn btn-default" ng-if="userForm.$state == 'register'">Register</button>
  </form>
  </div>
  <p>{{userForm.userDetails.email}}</p>
  <p>{{userForm.userDetails.password}}</p>
</div>
