<div class="forms-cont col-xs-12">

  <div class="form-belt">
    <div class="form-switch-btns">
        <button ui-sref="login" class="login-btn-select" type="button" ng-class="{ 'active-form-btn': currentUser.$state=='login' }">Log in</button>
        <button ui-sref="register" class="login-btn-select" type="button" ng-class="{ 'active-form-btn': currentUser.$state=='register' }">Register</button>
    </div>

    <form name="loginForm" class="text-left login-form animated fadeIn" ng-submit="currentUser.submit(loginForm.$valid)" novalidate>

      <div class="form-group form-label" ng-if="currentUser.$state == 'register'">
        <label class="label-default-pos" for="user-name">Your name</label>
        <input type="text"
                class="form-control"
                name="userName"
                id="user-name"
                ng-model="currentUser.details.name"
                ng-minlength="1"
                cu-label
                required>

      </div>

      <div class="form-group form-label">
        <label class="label-default-pos" for="user-email">Email address</label>
        <input type="email"
                class="form-control"
                id="user-email"
                name="userEmail"
                ng-model="currentUser.details.email"
                cu-label
                required>
      </div>

      <div class="form-group form-label">
        <label class="label-default-pos" for="user-password">Password

        </label>
        <input type="password"
                class="form-control"
                id="user-password"
                name="userPassword"
                ng-model="currentUser.details.password"
                ng-pattern="/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/"
                cu-label
                required>
            <span ng-show="loginForm.userPassword.$error.pattern"> too short! (8 characters, 1 uppercase, 1 digit)</span>
      </div>

      <div class="form-group form-label" ng-if="currentUser.$state == 'register'">
        <label class="label-default-pos" for="user-confirm-password">Confirm password</label>
        <input type="password"
                class="form-control"
                id="user-confirm-password"
                name="confirmPassword"
                ng-model="currentUser.details.confirmPassword"
                cu-label
                required>
      </div>

      <div class="checkbox text-muted" ng-if="currentUser.$state == 'login'">
        <label>
          <input type="checkbox" ng-model="currentUser.details.rememberMe"> Remember me
        </label>
      </div>

    <button type="submit" class="btn btn-custom" ng-if="currentUser.$state == 'login'">Sign in</button>
    <button type="submit" class="btn btn-custom" ng-if="currentUser.$state == 'register'">Register</button>
  </form>
  </div>

</div>
