<small class="error-msg error-block" ng-message="required">You can`t leave this empty!</small>
<small class="error-msg error-block" ng-message="minlength">Password should have at least 8 characters!</small>
<small class="error-msg error-block" ng-message="pattern">Password is too weak. Please use at least one upper-case letter and one digit!</small>
<small class="error-msg error-block" ng-message="compareTo">Passwords do not match!</small>
<small class="error-msg error-block" ng-message="email">Incorrect email address! (example@provider.com)</small>
