<span class="error-msg error-block" ng-message="required">You can`t leave this empty!</span>
<span class="error-msg error-block" ng-message="minlength">Password should have at least 8 characters!</span>
<span class="error-msg error-block" ng-message="pattern">Must contain at least one uppercase letter and digit!</span>
<span class="error-msg error-block" ng-message="compareTo">Passwords do not match!</span>
<span class="error-msg error-block" ng-message="email">Incorrect email address! (example@provider.com)</span>
<span class="error-msg error-block" ng-message="laterThan">The end date/time cannot occur before start date/time or in the past.</span>
<span class="error-msg error-block" ng-message="pastNot">The end date/time cannot occur in the past.</span>
