<div class="container-fluid">

<div class="row">
  <div class="header col-xs-12 text-center">
    <h1 class="site-title">Event Planer</h1>
  </div>
</div>

<div class="row">

    <div class="forms-cont col-xs-12">

      <div class="form-belt">

        <div class="form-switch-btns">
            <button ui-sref="login" class="login-btn-select" type="button" ng-class="{ 'active-form-btn': currentUser.$state=='login' }">Log in</button>
            <button ui-sref="register" class="login-btn-select" type="button" ng-class="{ 'active-form-btn': currentUser.$state=='register' }">Register</button>
        </div>

        <form name="loginForm" class="text-left login-form animated fadeIn" id="loginForm" novalidate>
          <small class="required">* Required</small>

          <div class="form-group form-label-animated" ng-class="loginForm.name.$invalid && loginForm.name.$dirty ? 'error-msg-input' : '' ">
            <label class="label-default-pos" for="user-name">* Your name</label>
            <input type="text"
                    class="form-control event-input"
                    name="name"
                    id="user-name"
                    ng-model="currentUser.details.name"
                    ng-minlength="1"
                    autocomplete="name"
                    cu-label
                    autofocus
                    required>
            <div ng-messages="loginForm.name.$error" ng-if="loginForm.name.$dirty || currentUser.formNotValid">
              <div ng-messages-include="views/messages.html"></div>
            </div>

          </div>

          <div class="form-group form-label-animated" ng-class="loginForm.email.$invalid && loginForm.email.$dirty ? 'error-msg-input' : '' ">
            <label class="label-default-pos" for="user-email">* Email address</label>
            <input type="email"
                    class="form-control event-input"
                    id="user-email"
                    name="email"
                    ng-model="currentUser.details.email"
                    cu-label
                    required>
            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty || currentUser.formNotValid">
              <div ng-messages-include="views/messages.html"></div>
            </div>

          </div>

          <div class="form-group form-label-animated" ng-class="loginForm.userPassword.$invalid && loginForm.userPassword.$dirty && currentUser.$state != 'login' ? 'error-msg-input' : '' ">
            <label class="label-default-pos" for="user-password">* Password</label>
            <input type="password"
                    class="form-control event-input"
                    id="user-password"
                    name="userPassword"
                    ng-model="currentUser.password"
                    ng-pattern="/^.*(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/"
                    ng-minlength="8"
                    cu-label
                    required>
            <div ng-messages="loginForm.userPassword.$error" ng-if="loginForm.userPassword.$dirty && currentUser.$state != 'login' || currentUser.formNotValid">
              <div ng-messages-include="views/messages.html"></div>
            </div>

          </div>

          <div class="form-group form-label-animated" ng-class="loginForm.confirmPassword.$invalid && loginForm.confirmPassword.$dirty ? 'error-msg-input' : '' ">
            <label class="label-default-pos" for="user-confirm-password">* Confirm password</label>
            <input type="password"
                    class="form-control event-input"
                    id="user-confirm-password"
                    name="confirmPassword"
                    ng-model="currentUser.confirmPassword"
                    compare-to="currentUser.password"
                    cu-label
                    required>
            <div ng-messages="loginForm.confirmPassword.$error" ng-if="loginForm.confirmPassword.$dirty || currentUser.formNotValid">
              <div ng-messages-include="views/messages.html"></div>
            </div>
          </div>
          <div class="form-group form-label-animated" >
            <label class="label-default-pos" for="start-date">Birthday</label>
            <input type="text"
              class="form-control event-input"
              id="start-date"
              ng-model="currentUser.details.birthday"
              name="birthday"
              cu-label>
          </div>

          <div class="form-group form-label-animated" >
            <label class="label-default-pos" for="job-title">Job Title</label>
            <input type="text"
              class="form-control event-input"
              id="job-title"
              ng-model="currentUser.details.jobTitle"
              name="jobTitle"
              cu-label>
          </div>

          <div class="form-group form-label-animated" >
            <label class="label-default-pos" for="employer">Employer</label>
            <input type="text"
              class="form-control event-input"
              id="employer"
              ng-model="currentUser.details.employer"
              name="employer"
              cu-label>
          </div>

          <div class="general-msg-cont text-center">
            <span class="error-msg error-block" ng-show="currentUser.logInError">Failed to login! Please try later or reload the page.</span>
            <span class="error-msg error-block" ng-show="currentUser.emailTaken">The new user account cannot be created because the specified email address is already in use.</span>
            <span class="error-msg error-block">{{currentUser.regError}}</span>
            <span class="error-msg error-block" ng-show="currentUser.invalidPassword">The specified user account or password is incorrect.</span>
            <span class="error-msg error-block" ng-show="currentUser.invalidUser">The specified user account does not exist.</span>
          </div>

          <div class="register-btn-cont">
            <button type="submit" class="btn btn-custom" ng-click="currentUser.registerUser(loginForm.$valid)">Register</button>
            <div class="login-spinner-cont" ng-show="currentUser.spinner">
              <i class="fa fa-spinner fa-spin fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>


      </form>

      <p class="text-center reg-success" ng-show="currentUser.regSuccess">Registration successfull. Please <a ui-sref="login">login</a> with your email and password.</p>
      </div>  <!-- /form-belt -->

    </div>


</div><!-- /row -->
</div><!-- /container -->
