<div class="header">
  <h1 class="site-title">Event Planer</h1>
</div>

<nav class="side-panel">
  <ul class="list-unstyled text-center">
    <li class="nav-item"><button ui-sref="addEventForm" id="add-event" type="button">Add</button></li>
    <li class="nav-item"><button ui-sref="allEvents" id="display-events" type="button">Events</button></li>
    <li class="nav-item"><button type="button" ng-click="user.logOut()" id="logout-btn">Log out</button></li>
  </ul>
</nav>

<div class="container page-wrapper">
  <div ui-view class="row"></div>
</div>
