<section class="col-sm-10 col-xs-12 all-events-section">
  <ul class="event-list">
    <li class="sn-event"
      ng-repeat="event in events.allEvents track by $id(event)"
      ng-click="events.select(event)">

      <div class="sn-cont">
        <div class="sn-header sn-line">
          <h4 class="sn-name">{{event.name}}</h4>
          <i class="fa fa-trash sn-remove-btn" aria-hidden="true" ng-click="events.remove(event)"></i>
        </div>

        <div class="sn-body col-xs-12">

          <div class="sn-line col-xs-12">
            <p class="sn-cat"><em class="sn-cat-name">Category:&nbsp;</em>{{event.category}}</p>
          </div>
          <div class="sn-date-cont sn-line col-xs-12">
            <span class="sn-date"><em class="sn-cat-name">Begins:&nbsp;</em>{{events.formatDate(event.startDate)}}&nbsp;<em class="sn-cat-name">at:&nbsp;</em>{{event.startTime}}</span>
            <span class="sn-date"><em class="sn-cat-name">Ends:&nbsp;</em>{{events.formatDate(event.endDate)}}&nbsp;<em class="sn-cat-name">at:&nbsp;</em>{{event.endTime}}</span>
          </div>

          <div class="sn-extend sn-extend-hide col-xs-12" ng-class="{'sn-selected': events.isActive(event)}">

            <div class="sn-holder col-sm-6 col-xs-12">
              <div class="sn-line">
                <em class="sn-cat-name">Host:&nbsp;</em><span class="sn-host">{{event.host}}</span>
              </div>

              <div class="sn-event-guests sn-line">
                <p><em class="sn-cat-name">Guests:&nbsp;</em></p>
                <span class="sn-guest" ng-repeat="guest in event.guests">{{guest}}</span>
              </div>
            </div>

            <div class="sn-holder col-sm-6 col-xs-12">
              <div class="sn-event-location sn-line">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <em class="sn-cat-name">Address:</em>
                <div class="sn-address-line">
                  <span class="sn-street-number">{{event.eventLocation.street_number}}</span>
                  <span class="sn-street">{{event.eventLocation.route}}</span>
                </div>
                <div class="sn-address-line">
                  <span class="sn-city">{{event.eventLocation.locality}}</span>
                  <span class="sn-postcode">{{event.eventLocation.postal_code}}</span>
                </div>
              </div>
            </div>

            <div class="sn-holder col-xs-12" style="margin-top:20px">
              <div class="sn-line" ng-show="event.additionalInfo.length > 0">
                <em class="sn-info sn-cat-name">Additional info:</em>
                <p>{{event.additionalInfo}}</p>
              </div>
            </div>

          </div><!-- /sn-extend -->
        </div><!-- /sn-body -->
      </div><!-- /sn-cont -->

    </li>
  </ul>
</section>
