<section class="col-xs-12 all-events-section">
  <ul class="list-inline event-list">
    <li class="event" ng-repeat="event in events.allEvents">

      <ul>
        <li>{{event.name}}</li>
        <li>{{event.category}}</li>
        <li>{{event.startDate}}</li>
        <li>{{event.endDate}}</li>
        <li>{{event.host}}</li>
        <li>{{event.guests}}</li>
        <li>{{event.eventLocation}}</li>
        <li ng-show="event.additionalInfo.length > 0">{{event.additionalInfo}}</li>
      </ul>

    </li>
  </ul>
</section>
