<nav class="side-panel">
  <ul class="list-unstyled text-center">
    <li class="nav-item"><button class="side-panel-btn" ui-sref-active="active-side-btn" ui-sref="addEventForm" id="add-event" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button></li>
    <li class="nav-item"><button class="side-panel-btn" ui-sref-active="active-side-btn" ui-sref="allEvents" id="display-events" type="button">Events</button></li>
    <li class="nav-item"><button class="side-panel-btn" type="button" ng-click="user.logOut()" id="logout-btn"><i class="fa fa-sign-out" aria-hidden="true"></i></button></li>
  </ul>
</nav>

<div class="container page-wrapper">
  <div ui-view class="row user-section"></div>
</div>
