<div class="col-xs-12">
  <form name="addEventForm" id="add-event-form" class="css-form" novalidate>

    <div class="custom-input-group">
      <div class="form-group form-label-animated" ng-class="addEventForm.eventName.$invalid && addEventForm.eventName.$dirty ? 'error-msg-input' : '' ">
        <i class="fa fa-book label-icon" aria-hidden="true"></i>
        <label class="label-default-pos" for="event-name">Event Name</label>
        <input type="text"
          class="form-control event-input"
          id="event-name"
          name="eventName"
          ng-model="form.event.name"
          cu-label
          required
          autofocus>
        <div ng-messages="addEventForm.eventName.$error" ng-if="addEventForm.eventName.$dirty || form.isNotValid">
          <div ng-messages-include="views/messages.html"></div>
        </div>
      </div>

      <fieldset class="form-group form-label-animated">
        <i class="fa fa-list-ul label-icon" aria-hidden="true"></i>
        <label class="label-default-pos" for="category" style="width:80%">Select category</label>
        <input list="selectCategory"
          id="category"
          name="eventCategory"
          class="form-control event-input"
          ng-model="form.event.category"
          cu-label
          required>

        <div ng-messages="addEventForm.eventCategory.$error" ng-if="addEventForm.eventCategory.$dirty || form.isNotValid">
          <div ng-messages-include="views/messages.html"></div>
        </div>
        <datalist id="selectCategory">
          <option value="Party"></option>
          <option value="Meeting"></option>
          <option value="Important"></option>
        </datalist>
      </fieldset>

      <div class="form-group form-label-animated">
        <i class="fa fa-play label-icon" aria-hidden="true"></i>
        <label class="label-default-pos cover" for="start-date">Start date and time</label>
        <input type="text"
          class="form-control event-input"
          id="start-date"
          ng-model="form.selectedStartDate"
          name="selectedStartDate"
          ng-change="form.updateEndDateInput()"
          required
          cu-label>
        <div ng-messages="addEventForm.selectedStartDate.$error" ng-if="addEventForm.selectedStartDate.$dirty || form.isNotValid">
          <div ng-messages-include="views/messages.html"></div>
        </div>
      </div>

      <div class="form-group form-label-animated">
        <i class="fa fa-stop-circle label-icon" aria-hidden="true"></i>
        <label class="label-default-pos cover" for="end-date">End date and time</label>
        <input type="text"
          name="selectedEndDate"
          class="form-control event-input"
          id="end-date"
          ng-model="form.selectedEndDate"
          required
          cu-label>
        <div ng-messages="addEventForm.selectedEndDate.$error" ng-if="addEventForm.selectedEndDate.$dirty || form.isNotValid">
          <div ng-messages-include="views/messages.html"></div>
        </div>
      </div>
    </div><!-- /custom-input-group -->

    <div class="custom-input-group">
      <div class="form-group form-label-animated">
        <i class="fa fa-map-marker label-icon" aria-hidden="true"></i>
        <label class="label-default-pos" for="autocomplete">Location</label>
        <input
          type="text"
          name="eventLocation"
          id="autocomplete"
          class="form-control event-input"
          ng-focus="form.initAutocomplete()"
          ng-model="form.tempLocation"
          placeholder=""
          cu-label
          required>
          <div ng-messages="addEventForm.eventLocation.$error" ng-if="addEventForm.eventLocation.$dirty || form.isNotValid">
            <div ng-messages-include="views/messages.html"></div>
          </div>
      </div>

      <div class="form-group form-label-animated">
        <i class="fa fa-user label-icon" aria-hidden="true"></i>
        <label class="label-default-pos" for="event-host">Event host</label>
        <input class="form-control event-input"
          type="text"
          name="eventHost"
          id="event-host"
          ng-model="form.event.host"
          cu-label
          required>
        <div ng-messages="addEventForm.eventHost.$error" ng-if="addEventForm.eventHost.$dirty || form.isNotValid">
          <div ng-messages-include="views/messages.html"></div>
        </div>
      </div>

      <div class="form-group form-label-animated no-margin">
        <i class="fa fa-users label-icon" aria-hidden="true"></i>
        <label class="label-default-pos" for="event-guests">Event guests</label>
        <button type="button" name="addGuest" id="add-guest-btn" ng-show="form.guest.length > 0" ng-click="form.addGuest('click')">Add</button>
        <input class="form-control event-input"
          type="text"
          name="eventGuests"
          id="event-guests"
          ng-model="form.guest"
          ng-keypress="form.addGuest($event)"
          cu-label>

        <span class="error-msg error-block" ng-show="form.guestsRequired">At least one guest required.</span>
        <span class="error-msg error-block" ng-show="form.guestDuplicate">Guest already on the list.</span>
      </div>
      <div class="guests-cont">
        <span ng-repeat="guest in form.event.guests" class="guest" ng-click="form.removeGuest($index)">{{guest}}</span>
      </div>



    </div><!-- /custom-input-group -->

    <div class="custom-input-group">
      <div class="form-group form-label-animated">
        <i class="fa fa-info-circle textarea-icon" aria-hidden="true"></i>
        <label class="textarea-label" for="optional-info">Additional information</label>
        <textarea class="form-textarea" id="optional-info" rows="3" ng-model="form.event.additionalInfo"></textarea>
      </div>
    </div><!-- /custom-input-group -->


    <div class="text-right">
      <button type="button" class="btn btn-custom" ng-click="form.submit(addEventForm.$valid)">Add new</button>
      <!-- <i class="fa fa-plus-circle btn-icon" aria-hidden="true"></i> -->
    </div>

  </form>
</div> <!-- /col-xs-12 -->
